.firstClass {
color: rgb(15, 73, 128);
    background-color: paleturquoise;
    
}
html {
color: red;
    background-color: plum;
}

body {

    background-color:pink;
}

.secondClass {

    background-color: coral;
    padding: 20px;

}

.thirdClass {
background-color: rgb(70, 75, 78);
padding: 100px;

}